software/
to_sort/
software_old/
data
data/genomes/.ipynb_checkpoint
*.ipynb_checkpoints
log
data/FIMO/promoters_renamedChr_motifs_mapped.bed
src/.Rhistory
md5check__ei-workarea-group-eg-project_PromoterArchitecturePipeline___ei-projects-fa26d297-7b5b-4a43-be1f-bd87b73ae0d2-data-witham.out

